* {
    scrollbar-width: thin;
    scrollbar-color: #f09c00, #ffc13b;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #ffc13b;
}

*::-webkit-scrollbar-thumb {
    background-color: #f09c00;
    border-radius: 20px;
    border: 3px solid #ffc13b;
}